@import 'variables';

* {
  font-weight: @font-weight !important;
  font-family: @font-family !important;
  font-size: @font-size !important;
  line-height: 1.6em !important;
  letter-spacing: 0.01em;
}

*, *:hover, *:focus, *:active {
  color: @color !important;
  border: none !important;
  border-image: none !important;
  text-shadow: none !important;
  box-shadow: none !important;
  &::before, &::after { visibility: hidden; }
}

// Layout elements get @background-color
body, html, div, article, section {
  background-color: @background-color !important;
}

// Content element get transparent background
p, a, span, li, ul, table, tr, td, th, h1, h2, h3, h4, h5, h6 {
  background-color: transparent !important;
}

a, a * {
  color: @link-color !important;
  text-decoration: underline !important;
}

a:hover, a *:hover {
  color: mix(@link-color, @color, 50%) !important;
}

a:visited {
  color: spin(@link-color, 40) !important;
}

input, select, textarea, button {
  &, &:focus {
    background-color: mix(@background-color, @color, 105%) !important;
    border: 1px solid mix(@background-color, @color, 90%) !important;
    min-height: 1.4em;
  }
}

.images(@switch) when (@switch = false) {
  img { display: none !important; }
}

.background-images(@switch) when (@switch = false) {
  *, *:focus, *:active { background-image: none !important; }
}

.iframes(@switch) when (@switch = false) {
  iframe { display: none !important; }
}


h1, h2, h3, h4, h5, h6 {
  font-family: @heading-font !important;
  font-weight: @heading-font-weight !important;
}

.font-multiplier(@factor) {
  font-size: @font-size * @factor !important;
  line-height: ceil(@font-size * @factor) !important;
}

h1 { .font-multiplier(2.5); }
h2 { .font-multiplier(2.1); }
h3 { .font-multiplier(1.6); }
h4 { .font-multiplier(1.3); }
h5 { .font-multiplier(1.0); }
h6 { .font-multiplier(0.9); }

code, pre, kbd {
  &, & * {
    font-family: @code-font !important;
    background-color: mix(@background-color, @color, 95%) !important;
  }
}
